<h1>Cadastro de Produto</h1>

<%= form_with model: @product do |form| %>
  <div>
    <%= form.label :name %><br>
    <%= form.text_field :name %>
  </div>

  <div>
    <%= form.label :price %><br>
    <%= form.number_field :price, step: 0.01 %>
  </div>

    <div>
    <%= form.label :quantity %><br>
    <%= form.number_field :quantity %>
  </div>

  <div>
    <%= form.submit 'Criar Produto' %>
  </div>
<% end %>
